<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="ap_config_provider" xsi:type="object">Mexbs\ApBase\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogRule\Observer\ProcessFrontFinalPriceObserver">
        <plugin name="apProcessFrontFinalPriceObserver" type="Mexbs\ApBase\Model\Plugin\Observer\CatalogRule\ProcessFrontFinalPriceObserver"/>
    </type>
    <preference for="Magento\PageCache\Model\DepersonalizeChecker" type="Mexbs\ApBase\Model\Rewrite\PageCache\DepersonalizeChecker" />
</config>
