<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="apromotions" frontName="additional_promotions">
            <module name="Mexbs_ApBase" />
        </route>
    </router>
</config>