<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="salesrule_rule_condition_combine">
        <observer name="addApBase" instance="Mexbs\ApBase\Observer\CombineChildSelect" />
    </event>
    <event name="magento_salesrule_api_data_ruleinterface_save_after">
        <observer name="apMoveSalesRuleImageFromTmp" instance="Mexbs\ApBase\Observer\MoveSalesRuleImageFromTmp" />
    </event>
    <event name="catalog_product_delete_commit_after">
        <observer name="apDeleteFromIndex" instance="Mexbs\ApBase\Observer\DeleteFromIndex" />
    </event>
</config>
